{%- set bitcoin = pillar.get('bitcoin', {}) -%}

{%- for name, value in bitcoin.items() %}
  {%- if value is list %}
    {%- for i in value %}
{{ name }}={{ i }}
    {%- endfor %}
  {%- else %}
{{ name }}={{ value }}
  {%- endif %}
{%- endfor %}
